CHECK_TIME_BUDGET_SEC=
CONCURRENT_THREADS_CHECK_DEFAULT=
INTERNET_CFGS_COUNT=
INTERNET_SUBS_POOL=
MAX_LINKS_TO_CHECK_INTERNET=
MAX_LINKS_TO_CHECK_WHITELIST=
WHITELISTED_CFGS_COUNT=
WHITELISTED_SUBS_POOL=